*{
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, var(--darkBlue),var(--blue));
}

.container{
    display: flex;
    justify-content: center;
}

.container-text{
    display: flex;
    justify-content: center;

    width: 600px;
    border-radius: 20px;
    margin: 30px;
    padding: 25px;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.356);

    background-color: var(--gray);
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    border-radius: 5px;
    border-width: 0.2px;
    margin: 3px;

    height: 20px;

    font-size: 0.9rem;

}

::-webkit-input-placeholder {
    color: black;
 }

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: var(--blue);
    border-radius: 10px;
    border-color: var(--blue);

    width: auto;
    
    font-size: 0.9rem;

    transition: 0.2s;
}

.button:hover{
    background-color: var(--darkBlue);
    border-color: var(--darkBlue);
    cursor: pointer;
    color: white;
}


.buttonEnviar{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: var(--pink);
    border-radius: 10px;
    border-color:  var(--pink);

    width: auto;
    
    font-size: 0.9rem;

    transition: 0.2s;
}

.buttonEnviar:hover{
    background-color: var(--red);
    border-color: var(--red);
    cursor: pointer;
    color: white;
}

.buttonVoltar{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: var(--yellow);
    border-radius: 10px;
    border-color:  var(--yellow);

    width: auto;
    
    font-size: 0.9rem;

    transition: 0.2s;
}

.buttonVoltar:hover{
    background-color: var(--darkYellow);
    border-color: var(--darkYellow);
    cursor: pointer;
    color: white;
}

a{
    padding: 10px;
    font-size: 0.6rem;
    color: white
}

:root{
    --darkBlue:#002d40;
    --blue: #1AA1A6;
    --red:#ff414d;
    --pink:#f56a79;
    --gray:#f7f7f7;
    --yellow: #ffdc41;
    --darkYellow: #f0850c;


}
